.allproduct {
  padding: 20rem 0 5rem;
  &-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 13.5rem;
    // .product-large {
    //   width: 30%;
    //   padding: 2.5rem 2rem;
    //   border: 0.2rem solid $darkorange;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   gap: 2rem 0;
    //   &:hover .image {
    //     opacity: 0.8;
    //   }
    //   &:hover .info {
    //     display: block;
    //   }
    //   .image {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    //     max-height: 30.7rem;
    //     object-fit: cover;
    //     transition: $transition1;
    //   }
    //   .name {
    //     a {
    //       @include text(1.6rem);
    //       transition: $transition;
    //       &:hover {
    //         color: $darkorange;
    //       }
    //     }
    //   }
    //   .price {
    //     @include text(1.6rem);
    //     color: $darkorange;
    //   }
    // }
    .product-medium {
      width: 100%;
    }
  }
}
