.detailProduct {
  padding: 27rem 0 10rem;
  &-main {
    display: flex;

    &-image {
      flex: 1 1 45rem;
      .img {
        width: 85%;
        height: 90%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    &-box {
      background-color: #eeeeee;
      flex: 1 1 55rem;
      padding: 3rem 4rem;
      .name {
        @include text(3rem);
        line-height: 3.5rem;
        padding-bottom: 5rem;
      }
      .price {
        display: inline-block;
        @include text-large(1.9rem);
        background-color: $darkorange;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
      }
      .status {
        @include text(1.4rem);
        padding: 2rem 0;
      }
      .quantity {
        @include text(1.4rem);
        line-height: 3rem;
        color: $darkorange;
        padding-bottom: 4rem;
        select {
          width: 6rem;
          padding: 0.3rem 0;
          text-align: center;
          margin: 0 2rem;
        }
      }
    }
  }
}

@include maxWidth(768px) {
  .detailProduct-main {
    display: flex;
  }
}
