.intro {
  padding: 20rem 0 10rem;
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-grid {
    @include grid(30rem);
    gap: 3rem;
    margin: 3rem 0;
    &-box {
      h2 {
        @include text(2.2rem);
        font-weight: 600;
        color: $dark;
        line-height: 6rem;
      }
      p {
        @include text(1.2rem);
        color: $gray-dark;
      }
    }
  }

  &-user {
    background-color: #f3f2ee;
    display: flex;
    margin: 8rem 0;
    &-info {
      flex: 1 1 35rem;
      margin: 0 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
      }
      h3 {
        @include text(1.5rem);
        color: $dark-light;
        line-height: 2.4rem;
        font-style: italic;
      }
      .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        span {
          @include textUpperCase(2rem);
          letter-spacing: 0.2rem;
          font-weight: 600;
          color: $dark;
          img {
            width: 8rem;
            height: 8rem;
            line-height: 8rem;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
    &-image {
      flex: 1 1 60rem;
      img {
        width: 100%;
        height: 60rem;
      }
    }
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading-text {
      @include textUpperCase(1.2rem);
      color: $dark;
      font-weight: 800;
      padding: 0 1.5rem;
      letter-spacing: 0.2rem;
      border-bottom: 0.1rem solid $darkorange;
    }
    .title-text {
      @include text(2.4rem);
      text-transform: capitalize;
      line-height: 3rem;
      margin: 2rem 0;
      color: $dark;
    }
    p {
      @include text(1.2rem);
      font-weight: 300;
      color: $dark-light;
      text-align: center;
    }
  }
}
