#login {
  padding: 3rem 0 5rem;
  .box {
    display: inline-block;
    padding: 3rem;
    border: $boder;
    h2 {
      @include text(3rem);
      padding-bottom: 3rem;
      line-height: 2.5rem;
    }
    p {
      @include text(1.4rem);
      text-transform: none;
      font-weight: 600;
      padding-bottom: 1rem;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    input {
      padding: 0.5rem 10rem 0.5rem 1rem;
      border: 0.1rem solid $gray;
      margin-top: 1rem;
    }
    &-email {
      @include text(1.3rem);
      margin: 2rem 0;
    }
    &-pass {
      @include text(1.3rem);
    }
    .btn {
      padding: 0.8rem 1.2rem;
      margin-top: 2rem;
    }
    .notify {
      padding-top: 0.8rem;
      span {
        font-size: 1.3rem;
        a {
          @include text(1.4rem);
          font-weight: 600;
          transition: $transition;
          &:hover {
            color: $darkorange;
          }
        }
      }
    }
  }
}
