$darkorange: #f7941d;
$blue: #1f1f93;
$text: #252525;
$gray: #898989;
$gray-light: #d4d4d4;
$gray-light1: #a3a3a3;
$boder: 0.2rem solid #f7941d;
$white: #fff;
$gray-dark: #343a40;
$dark: #111;
$dark-light: #343a40;
$box-shadow: 0 0.3rem 1rem 0 rgb(0 0 0 / 5%);
$font-family: "Product Sans", sans-serif;
$transition: all 0.2s ease;
$transition1: all 0.1s linear;
